.user__container
    .user__container__profile
        .user__container__profile__box
            %a.user__container__profile__box--a{href: '#'}
                .user__container__profile__box--a--image
                .user__container__profile__box--a--name
                    %h2 ONAGAX
            .user__container__profile__box--like
                %span#left 評価 0
                %span#right 出品数 0
        .user__container__rate
            .user__container__rate--face
                .user__container__rate--face--good
                    %i.fas.fa-laugh
                    .user__container__rate--face--good--count
                        %span 0
                .user__container__rate--face--normal
                    %i.fas.fa-meh
                    .user__container__rate--face--normal--count
                        %span 0
                .user__container__rate--face--bad
                    %i.fas.fa-frown
                    .user__container__rate--face--bad--count
                        %span 0
        .user__container__sns
            .user__container__sns--facebook
                %i.fab.fa-facebook-square
            .user__container__sns--twitter
                %i.fab.fa-twitter-square
            .user__container__sns--line
                %i.fab.fa-line
