@import "./mixin/input-default";
@import "./mixin/";
.header--pc {
  @include initialize;

  position: relative;
  z-index: 1001;
  background: #fff;
  display: none;
  @media screen and (min-width: 768px) {
    display:block
  }
  @media screen and (min-width: 1068px) {
    display: block
  }
  h1 {
    padding-top: 7px;
    a {
      display: block;
      color: #333;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  &__inner {
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
    h1 {
      float: left;
    }
    @media screen and (min-width: 1068px) {
      width: 1020px
    }
    &:after {
      @include clearfix();
    }
  }
  &__form {
    position: relative;
    width: calc(100% - (134px + 45px));
    float: right;
  }
  &__search {
    @include input-default();
    box-sizing: border-box;
    background: whitesmoke;
    border-color: transparent;
    border-radius: 2px;
    padding: 0 42px 0 10px;
    width: 100%;
    height: 50px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
  }
  .fa-search {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center
  }
  &__cat-brand-icon {
    color: #EA352D;
    font-size: 16px;
    margin-right: 4px
  }
  .header--pc__nav--box__nav{
    margin-top: 8px;
  }
  &__nav {
    font-size: 0;
    >li {
      position: relative;
      display: inline-block;
      padding: 0 0 0 22px;
      &:first-child {
        padding: 0 0 0 2px
      }
    }
    &>li.hover &--nochild, &>li.hover &--parent, &>li:hover &--nochild, &>li:hover &--parent {
      display: block
    }
    &--parent:hover>ul &--child, &--parent.hover>ul &--child, &--parent.active>ul &--child {
      display: block
    }
    &--parent h3 a:hover, &--parent h3 a.active {
      background: #ea352d;
      color: #fff
    }
    &--nochild h3 a:hover, &--nochild h3 a.active {
      background: #ea352d;
      color: #fff
    }
    &--child.hover>ul &--grand-child, &--child:hover>ul &--grand-child {
      display: block
    }
    &--grand-child>a:hover, &--grand-child>a.active {
      background: #eee
    }
    &--child>a:hover, &--child>a.active {
      background: #eee
    }
    &>li.hover &--nochild, &>li.hover &--parent, &>li:hover &--nochild, &>li:hover &--parent {
      display: block
    }
    &--parent:hover>ul &--child, &--parent.hover>ul &--child, &--parent.active>ul &--child {
      display: block
    }
    &--parent h3 a:hover, &--parent h3 a.active {
      background: #ea352d;
      color: #fff
    }
    &--nochild h3 a:hover, &--nochild h3 a.active {
      background: #ea352d;
      color: #fff
    }
    &--child.hover>ul &--grand-child, &--child:hover>ul &--grand-child {
      display: block
    }
    &--grand-child>a:hover, &--grand-child>a.active {
      background: #eee
    }
    &--child>a:hover, &--child>a.active {
      background: #eee
    }
    h2 {
      font-size: 14px;
      font-weight: 400
    }
    a {
      display: block;
      color: #333;
      &:hover {
        opacity: 1;
        text-decoration: none
      }
    }
    .icon-arrow-bottom {
      margin: 0 0 0 8px;
      font-size: 7px
    }
    &--box {
      @include clearfix();
      margin: 8px 0 0;
      nav {
        float: left
      }
    }
    &--root {
      position: relative;
      height: 42px;
      line-height: 32px;
      &.list-parent {
        font-weight: bold;
      }
      &:hover {
        color: #0099e8
      }
      span {
        vertical-align: middle
      }
    }
    &--count {
      position: absolute;
      top: -2px;
      left: 6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #ea352d;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #fff
    }
    &--parent {
      display: none;
      width: 224px;
      &-wrap {
        position: absolute;
        top: 38px;
        left: -34px;
        z-index: 1000;
        background: #fff;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        @media screen and (min-width: 1068px) {
          left:0;
        }
        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
          margin-top: 8px;
        }
      }
      h3 {
        font-weight: 400;
        font-size: 14px;
        a {
          padding: 0 16px;
          line-height: 44px
        }
      }
    }
    &--nochild {
      display: none;
      width: 224px;
      h3 {
        font-weight: 400;
        font-size: 14px;
        a {
          padding: 0 16px;
          line-height: 44px
        }
      }
    }
    &--child {
      display: none;
      width: 224px;
      &>a {
        padding: 8px 16px;
      }
      &-wrap {
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        background: #fff;
        -webkit-box-shadow: 1px 0 0 0 #eee inset;
        box-shadow: 1px 0 0 0 #eee inset
      }
    }
    &--grand-child {
      display: none;
      width: 320px;
      &>a {
        padding: 8px 16px
      }
      &-wrap {
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        background: #fff;
        -webkit-box-shadow: 1px 0 0 0 #eee inset;
        box-shadow: 1px 0 0 0 #eee inset
      }
    }
    &__login-nav {
      &>li {
        display: inline-block;
        margin: 0 0 0 8px
      }
      &>li:first-child {
        margin: 0
      }
      a:hover {
        opacity: 1;
        text-decoration: none;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s
      }
      .header--sp__btn {
        margin: 0
      }
      .btn-red {
        display: block
      }
    }
  }
  &__user-wrapper {
    float: right;
    margin-top: 8px;
  }
  &__user-nav {
    font-size: 0;
    ul::before {
      float: right;
    }
    &>li {
      position: relative;
      display: inline-block;
      padding-left: 15px;
      &--root {
        line-height: 32px;
      }
    }
    &>li:first-child {
      padding: 0
    }
    &>li:hover {
      .header--pc__user-box {
        display: block
      }
    }
    &>li:hover i {
      color: #0099e8
    }
    li {
      >a:hover {
        text-decoration: none;
        opacity: 1
      }
    }
    &>li {
      >a span {
        margin-left: 10px
      }
    }
    &>li i {
      color: #ccc
    }
    a {
      display: block;
      font-size: 14px;
      color: #333
    }
    .fa {
      &-bell {
        font-size: 20px
      }
      &-check {
        font-size: 16px
      }
    }
    i, span {
      vertical-align: middle
    }
  }
  &__user-icon {
    display: inline-block;
    figure {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
      &>div {
        overflow: hidden;
        border-radius: 50%
      }
      img {
        vertical-align: bottom
      }
    }
    figcaption {
      top: -6px;
      right: -6px
    }
    i {
      color: #ccc
    }
    &>div {
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 14px;
      vertical-align: middle
    }
  }
  &__user-box {
    position: absolute;
    top: 42px;
    z-index: 1;
    display: none;
    width: 320px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    font-size: 14px;
    .loading-black {
      height: 80px;
      background-position: center
    }
  }
  &__mypage {
    &--box {
      right: 0;
      .mypage-nav--list li:first-child {
        border-top: 1px solid #eee
      }
    }
    &--state {
      text-align: center;
      figure {
        padding: 28px 0 0;
        height: 80px;
        background: url("../images/mypage/user-bg.jpg");
        background-repeat: no-repeat;
        background-size: 320px 80px;
        &>div {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08)
        }
      }
      figcaption {
        margin: 8px 0 0;
        padding: 0 8px;
        font-size: 16px
      }
    }
    &__review-listing {
      margin: 40px 0 0;
      padding: 8px 8px 0;
      font-size: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 14px;
        &:first-child {
          margin: 0
        }
      }
      a:hover {
        text-decoration: underline
      }
    }
    &__sales-point {
      width: 300px;
      margin: 16px auto;
      background: #fafafa;
      border: 1px solid #eee;
      li {
        border-top: 1px solid #eee;
        &:first-child {
          border: 0
        }
        a {
          @include clearfix();
          .l-left {
            float: left
          }
          .l-right {
            float: right
          }
        }
      }
      a {
        padding: 0 8px;
        line-height: 40px
      }
      .ffa-angle-right {
        position: relative;
        top: -2px;
        font-size: 12px;
        margin: 0 0 0 8px;
        color: #ccc
      }
    }
  }
  &__notification-box {
    left: 0
  }
  &__todo-box {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }
  &__user-error {
    padding: 24px
  }
}
