.identifi__container__top__section--form--groups--wrap
    %select.select--default{name: "stats"}
        %option --
        %option 北海道
        %option 青森
        %option 岩手
        %option 宮城
        %option 秋田
        %option 山形
        %option 福島
        %option 茨城
        %option 栃木
        %option 群馬
        %option 埼玉
        %option 千葉
        %option 東京
        %option 神奈川
        %option 新潟
        %option 富山
        %option 石川
        %option 福井
        %option 山梨
        %option 長野
        %option 岐阜
        %option 静岡
        %option 愛知
        %option 三重
        %option 滋賀
        %option 京都
        %option 大阪
        %option 兵庫
        %option 奈良
        %option 和歌山
        %option 鳥取
        %option 島根
        %option 岡山
        %option 広島
        %option 山口
        %option 徳島
        %option 香川
        %option 愛媛
        %option 高知
        %option 福岡
        %option 佐賀
        %option 長崎
        %option 熊本
        %option 大分
        %option 宮崎
        %option 鹿児島
        %option 沖縄
    %i.fas.fa-chevron-down
