.header{

  &--pc{
  display:none;
  }
  &--sp{
    display:none;

  
  }
}

.app-banner__container{
  display:none;

}
.footer{

  &__main{
    display:none;

  }

  &__sell-btn{
    display:none;

  }
}

