.default-container
  %header.sp-header.visible-tablet.has-search-nav
    .sp-header__inner.clearfix
      %h1.logo
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3403318254"}/
      .sp-header__user-nav.clearfix
        %a.sp-header__user-icon{:href => "https://www.mercari.com/jp/mypage/notification/"}
          %figure
            %i.icon-bell
        %a.sp-header__user-icon{:href => "https://www.mercari.com/jp/mypage/todo/"}
          %figure
            %i.icon-check
        %a.sp-header__user-icon.sp-header__user-profile{:href => "https://www.mercari.com/jp/mypage/"}
          %figure
            %div
              %img{:alt => "", :src => "//static.mercdn.net/thumb/members/164317197.jpg?1419725926", :width => "32"}/
    .search-bar
      %form.sp-header__form{:action => "https://www.mercari.com/jp/search/"}
        %input.sp-header__search.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
        %i.icon-search
    %nav.sp-header__nav.search-links
      %a{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_カテゴリから探す", :href => "/jp/category/"}
        %i.icon-list.sp-header__cat-brand-icon
        %span カテゴリから探す
      %a{"data-ga" => "element", "data-ga-category" => "NAVIGATION", "data-ga-label" => "sp_header_nav_ブランドから探す", :href => "/jp/brand/"}
        %i.icon-tag.sp-header__cat-brand-icon
        %span ブランドから探す
  %header.pc-header.visible-pc-only
    .pc-header__inner
      .clearfix
        %h1.l-left
          %a{:href => "https://www.mercari.com/jp/"}
            %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3403318254", :width => "134"}/
        %form.pc-header__form.l-right{:action => "https://www.mercari.com/jp/search/"}
          %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          %i.icon-search
      .pc-header__nav--box.clearfix
        %nav.l-left
          %ul.pc-header__nav
            %li
              %h2
                %a.pc-header__nav--root.list-parent{:href => "https://www.mercari.com/jp/category/"}
                  %i.icon-list.pc-header__cat-brand-icon
                  %span カテゴリーから探す
              %ul.pc-header__nav--parent-wrap{"data-mega" => "1"}
                %li.pc-header__nav--parent
                  %h3
                    %a{:href => "https://www.mercari.com/jp/category/1/"} レディース
                  %ul.pc-header__nav--child-wrap{"data-mega" => "2"}
                    %li.pc-header__nav--child
                      %a{:href => "https://www.mercari.com/jp/category/11/"} トップス
                      %ul.pc-header__nav--grand-child-wrap{"data-mega" => "3"}
                        %li.pc-header__nav--grand-child
                          %a{:href => "https://www.mercari.com/jp/category/119/"} Tシャツ/カットソー(半袖/袖なし)
                %li.pc-header__nav--nochild
                  %h3
                    %a{:href => "https://www.mercari.com/jp/category/"} カテゴリー一覧
            %li
              %h2
                %a.pc-header__nav--root.list-parent{:href => "https://www.mercari.com/jp/brand/"}
                  %i.icon-tag.pc-header__cat-brand-icon
                  %span ブランドから探す
                %ul.pc-header__nav--parent-wrap
                  %li.pc-header__nav--parent
                    %h3
                      %a{:href => "https://www.mercari.com/jp/brand/658/"} シャネル
                  %li.pc-header__nav--parent
                    %h3
                      %a{:href => "https://www.mercari.com/jp/brand/"} ブランド一覧
        .l-right
          %ul.pc-header__user-nav
            %li{"data-id" => "pc-header__user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header__nav--root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
                %i.icon-bell
                %span お知らせ
              %ul.pc-header__user-box.pc-header__notification-box.mypage-item-list{"data-id" => "pc-header__user-items"}
            %li{"data-id" => "pc-header__user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header__nav--root{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
                %i.icon-check
                %span やることリスト
              %ul.pc-header__user-box.pc-header__todo-box.mypage-item-list{"data-id" => "pc-header__user-items"}
            %li
              %a.pc-header__user-icon.pc-header__nav--root{:href => "https://www.mercari.com/jp/mypage/"}
                %figure
                  %div
                    %img{:alt => "", :src => "//static.mercdn.net/thumb/members/164317197.jpg?1419725926", :width => "32"}/
                %div マイページ
              .pc-header__user-box.pc-header__mypage-box
                .pc-header__mypage-state.text-center
                  %figure
                    %div
                      %img{:alt => "", :src => "//static.mercdn.net/thumb/members/164317197.jpg?1419725926", :width => "60"}/
                    %figcaption Kousuke Inoue
                  %ul.pc-header__mypage-review-listing
                    %li
                      %a{:href => "https://www.mercari.com/jp/mypage/review/history/"} 評価: 0
                    %li
                      %a{:href => "https://www.mercari.com/jp/mypage/listings/listing/"} 出品数: 0
                  %ul.pc-header__mypage-sales-point
                    %li
                      %a.clearfix{:href => "https://www.mercari.com/jp/mypage/sales/"}
                        .l-left
                          売上金
                        .l-right
                          ¥ 0
                          %i.icon-arrow-right
                    %li
                      %a.clearfix{:href => "https://www.mercari.com/jp/mypage/point/"}
                        .l-left ポイント
                        .l-right
                          P 0
                          %i.icon-arrow-right
                %ul.mypage-nav__list
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/like/history/"}
                      いいね！一覧
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/listings/listing/"}
                      出品した商品 - 出品中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/listings/in_progress/"}
                      出品した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/listings/completed/"}
                      出品した商品 - 売却済み
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/purchase/"}
                      購入した商品 - 取引中
                      %i.icon-arrow-right
                  %li
                    %a.mypage-nav__list-item{:href => "https://www.mercari.com/jp/mypage/purchased/"}
                      購入した商品 - 過去の取引
                      %i.icon-arrow-right
  %main.white{:role => "main"}
    %section.owl-carousel.top-carousel
      %a.top-banner.banner-natsukashi{:href => "https://mercari-special.jp/~natsukashi/"}
      %a.top-banner.banner-new-life{:href => "/jp/featured/newlife/"}
      %div
        .top-main-visual
          %div
            .top-main-visual-content
              %h2
                スマホでかんたん
                %br>/
                フリマアプリ
              %p
                メルカリはスマホカメラからすぐに出品できる
                %br>/
                購入時も安心な独自システムのアプリです
              .top-main-visual-store.clearfix
                %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                  %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3403318254"}/
                %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                  %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3403318254"}/
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3403318254"}/
        #sp-top.visible-sp
          #sp-top-banner
            %h2
              スマホで
              %br>/
              かんたん
              %br>/
              フリマアプリ
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3403318254"}/
          #sp-top-dl.clearfix
            %a{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot"}
              %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3403318254"}/
            %a{:href => "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot"}
              %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3403318254"}/
      %a.top-banner.banner-bokurano-heisei{:href => "/jp/promotion/201812_bokurano_heisei/"}
    %section.pickup-container
      %h2.pickup-head ピックアップカテゴリー
      %section.items-box-container.clearfix
        %h3.text-center
          %a{:href => "/jp/category/1/"}
            レディース 新着アイテム
        .items-box-content.clearfix
          %section.items-box
            %a{:href => "https://item.mercari.com/jp/m67684181775/"}
              %figure.items-box-photo
                %img.lazyload{:alt => "sale〜4/12 エフデ 大きいサイズ 15号 スカート", "data-src" => "https://static.mercdn.net/thumb/photos/m67684181775_1.jpg?1554605302"}/
              .items-box-body
                %h3.items-box-name.font-2 sale〜4/12 エフデ 大きいサイズ 15号 スカート
                .items-box-num.clearfix
                  .items-box-price.font-5 ¥ 7,200
                  .items-box-likes.font-2
                    %i.icon-like-border
                    %span 2
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => "https://item.mercari.com/jp/m55484898626/"}
              %figure.items-box-photo
                %img.lazyload{:alt => "カーディガン（ジェラートピケ）", "data-src" => "https://static.mercdn.net/thumb/photos/m55484898626_1.jpg?1550203297"}/
              .items-box-body
                %h3.items-box-name.font-2 カーディガン（ジェラートピケ）
                .items-box-num.clearfix
                  .items-box-price.font-5 ¥ 1,700
                  .items-box-likes.font-2
                    %i.icon-like-border
                    %span 1
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => "https://item.mercari.com/jp/m41498429342/"}
              %figure.items-box-photo
                %img.lazyload{:alt => "MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服", "data-src" => "https://static.mercdn.net/thumb/photos/m41498429342_1.jpg?1554707158"}/
              .items-box-body
                %h3.items-box-name.font-2 MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服
                .items-box-num.clearfix
                  .items-box-price.font-5 ¥ 6,700
                  %p.item-box-tax (税込)
          %section.items-box
            %a{:href => "https://item.mercari.com/jp/m23376020836/"}
              %figure.items-box-photo
                %img.lazyload{:alt => "ペンダントトップ　アクアマリン　ネックレストップ　チャーム", "data-src" => "https://static.mercdn.net/thumb/photos/m23376020836_1.jpg?1553425198"}/
              .items-box-body
                %h3.items-box-name.font-2 ペンダントトップ　アクアマリン　ネックレストップ　チャーム
                .items-box-num.clearfix
                  .items-box-price.font-5 ¥ 8,700
                  .items-box-likes.font-2
                    %i.icon-like-border
                    %span 3
                  %p.item-box-tax (税込)
        .view-all
          %a{:href => "/jp/category/1/"} すべての商品を見る
  %aside.app-banner
    .app-banner-pc
      .app-banner-pc-inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner-icon.clearfix
          %figure
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3403318254", :width => "68"}/
          %ul.clearfix
            %li
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3403318254", :width => "133"}/
            %li
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3403318254", :width => "133"}/
      %figure
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3403318254"}/
  %footer.global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
              %i.icon-twitter
          %li.footer-social-link
            %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
              %i.icon-facebook
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
      .footer-cell.full-width
        %h2.footer-head プライバシーと利用規約
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
            %li
              %a{:href => "https://www.mercari.com/jp/refund-returns/"} 返品・返金ポリシー
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            %a.active{:href => "https://www.mercari.com/jp/"} 日本
          %li
            %a{:href => "https://www.mercari.com/"} United States
    .footer-bottom
      %a.footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3403318254", :width => "124"}/
      %span.footer-copyright
        %small © 2019 Mercari
  %a.footer-sell-btn{:href => "https://www.mercari.com/jp/sell/"}
    %div 出品
    %i.icon-camera
  .custom-banner.custom-banner-ios.banner-pattern1.clearfix
    %figure
      %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?3403318254", :width => "56"}/
    .clearfix
      .banner-rating
        %figcaption
          iOS版メルカリ
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?3403318254", :width => "12"}/
        %span.user-num (6,698)
      %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=installHeader.creative1", :target => "_blank"} インストール
      %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
  .custom-banner.custom-banner-android.banner-pattern1.clearfix
    %figure
      %img{:alt => "Mercari app's icon", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/custom-banner-icon.png?3403318254", :width => "56"}/
    .clearfix
      .banner-rating
        %figcaption
          Android版メルカリ
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?3403318254", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?3403318254", :width => "12"}/
        %span.user-num (60,414)
      %a.pattern1-install{:href => "http://app.adjust.io/xio2ii?campaign=android&adgroup=installHeader.creative1", :target => "_blank"} インストール
      %a.pattern1-open{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
  .overlay
%script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?1798344894"}
:javascript
  window.dataLayer = window.dataLayer || []
  dataLayer.push({
    'event': 'dynamic_home',
    'uid': '164317197',
    'ecomm_pagetype': 'home'
  });
/ Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLPT5L5');
/ End Google Tag Manager
