.items__container
  .items__container--h1 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  .items__container__main
    .items__container__main__wrap#wrap
      %ul#slider
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      %ul#thumbnail-list
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      .soldout
    .items__container__main__detail
      %table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "BOON90sリバイバル@コスパ優良店", "#"
              .item-user
                .item-user-ratings
                  %i.fas.fa-grin
                  %span 910
                .item-user-ratings
                  %i.fas.fa-meh
                  %span 27
                .item-user-ratings
                  %i.fas.fa-frown
                  %span 4
