.items__container
  .items__container--h1 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  .items__container__main
    .items__container__main__wrap#wrap
      %ul#slider
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      %ul#thumbnail-list
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      .soldout
    .items__container__main__detail
      %table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "BOON90sリバイバル@コスパ優良店", "#"
              .item-user
                .item-user-ratings
                  %i.fas.fa-grin
                  %span 910
                .item-user-ratings
                  %i.fas.fa-meh
                  %span 27
                .item-user-ratings
                  %i.fas.fa-frown
                  %span 4
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                #item_main_category
                  %p レディース
              = link_to "#" do
                #item_sub_category
                  %i.fas.fa-chevron-right
                  %p.category-p バック
              = link_to "#" do
                #item_sub_subcategory
                  %i.fas.fa-chevron-right
                  %p.category-p ショルダーバッグ
          %tr
            %th ブランド
            %td
              = link_to "コーチ","#"
          %tr
            %th 商品の状態
            %td やや傷や汚れ有り
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 発送の方法
            %td らくらくメルカリ便
          %tr
            %th 発送元地域
            %td 兵庫県
          %tr
            %th 発送日の目安
            %td 1~2日で発送
