%section.card__container__top__section__info__add
    .card__container__top__section__info__add--btn.navi--hover
        = link_to '/cards/new',class: 'btn-default' do
            %i.fas.fa-credit-card
            %p クレジットカードを追加する
