%section.card__container__top__section__info__add
    .card__container__top__section__info__add--btn.navi--hover
        %a.btn-default{href: "#"}
            %i.fas.fa-credit-card
            %p クレジットカードを追加する
