%li.card__container__top__section__info__title--list--card__list
    %form.card__container__top__section__info__title--list--card__list__form
        %figure.card__container__top__section__info__title--list--card__list__form--figure
            %i.fab.fa-cc-mastercard
        .card__container__top__section__info__title--list--card__list__form--num ************1111
        .card__container__top__section__info__title--list--card__list__form--num 12/31
        %button.card__container__top__section__info__title--list--card__list__form--remove{type: "submit"} 削除する
