.items-box{
  position:relative;
  float:left;
  background:#fff;

  margin:0 0 20px 20px;
  width:calc(50% - 30px);

  figure{
  width:100%
  }
  
  &:last-child{
    @media screen and (min-width: 768px){
    display:none
    }
    
    @media screen and (min-width: 1068px){
    display:block;
    margin:0 0 0 20px
    }
  
  }
  
  a{
    display:block;
    color:#333;
    
    &:hover{
      opacity:1;
      text-decoration:none
    }
    
  }
  
  @media screen and (min-width: 768px){
      margin:0 0 0 20px;
      width:213px;
  
        figure{
        width:213px
        }
    
    &:nth-child(odd){
      margin:0 0 20px 20px
    }
    
    &:nth-child(5n+1){
      margin-left:0
    }
    
    &:nth-child(5n){
      margin-right:0
    }
    
  }
  
  @media screen and (min-width: 1068px){
    margin:0 0 0 20px;
    width:213px;

      figure{
      width:213px
      }
    
    }
  
  &__head{
  font-size:22px;
  margin:24px 4% 8px;
  line-height:1.4;
  
    @media screen and (min-width: 768px){
    margin:24px 0 8px
    }
  
  }


  &__container{
    @include clearfix();

    &>h3{
    font-size:18px;
    margin:26px 11px;
    text-align:center;

      @media screen and (min-width: 768px){
      font-size:22px
      }
      
    }
  
    @media screen and (min-width: 768px){
    width:700px;
    margin:0 auto
    }
    
    @media screen and (min-width: 1068px){
    width:940px
    }

  }

    
  &__content{
  @include clearfix();
  width:92%;
  margin:0 auto;

    @media screen and (min-width: 768px){
    width:auto
    }
  
  }

  &__photo{
    overflow:hidden;
    position:relative;
  width:100%;
  height:0;
  padding:0 0 100%;

    @media screen and (min-width: 768px){
    width:220px;
    height:220px
    }
      
    img{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    width:100%;
    opacity:1;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;

      &.is-higher-height{
      top:50%;
      -webkit-transform:translate(0, -50%);
      transform:translate(0, -50%)
      }
      
      &.is-higher-width{
      width:auto;
      left:50%;
      right:auto;
      height:100%;
      -webkit-transform:translate(-50%, 0);
      transform:translate(-50%, 0)
      }

    }

  }

  &__body{
  padding:16px;
  height:110px
  }
  
  &__name{
  overflow:hidden;
  position:relative;
  font-weight:400;
  height:3em;
  line-height:1.5;
  word-break:break-word;
  white-space:normal;
  font-size:16px;
  font-weight:400;
  color:#333;

    &:after{
    display:block;
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:50%;
    height:1.5em;
    background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
    background:linear-gradient(to right, rgba(255,255,255,0), #fff 72%)
    }

  }
  
  &__num{
  @include clearfix();
  margin:8px 0 0
  }
  
  &__price{
  float:left;
  font-size:20px;
  font-weight:600;
  color:#333;

    @media screen and (min-width: 768px){
    font-size:16px
    }

    @media screen and (min-width: 1068px){
    font-size:20px
    }

  }
  
  &__tax{
  font-size:10px;
  clear:both
  }
  
  &__likes{
  float:right;
  font-size:16px;
  font-weight:400;
  color:#333;
  
    i{
    margin:0 4px 0 0;
    vertical-align:middle
    }
    
    span{
    display:inline-block;
    margin:1px 0 0;
    vertical-align:middle
    }

  }

  &__view-all{
    padding:0 0 30px;
    text-align:right;
    width:91%;
  
      @media screen and (min-width: 768px){
      padding:20px 0 30px;
      width:99.5%
      }
  
    }
  
}