@import "./reset";
@import "font-awesome";
@import "./sp-header";
@import "./pc-header";

audio:not([controls]){
  display:none
}

button{
-webkit-appearance:button;
overflow:visible
}

details{
display:block
}

html{
-ms-overflow-style:-ms-autohiding-scrollbar;
overflow-y:scroll;
-webkit-text-size-adjust:100%
}

input{
-webkit-border-radius:0
}

input[type="button"],input[type="reset"],input[type="submit"]{
-webkit-appearance:button
}

input[type="number"]{
width:auto
}

input[type="search"]{
-webkit-appearance:textfield
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
-webkit-appearance:none
}

main{
display:block
}

pre{
overflow:auto
}

progress{
display:inline-block
}

small{
font-size:75%
}

summary{
display:block
}

svg:not(:root){
overflow:hidden
}

template{
display:none
}

textarea{
overflow:auto
}

[hidden]{
display:none
}

*,::before,::after{
-webkit-box-sizing:inherit;
box-sizing:inherit
}

*{
font-size:inherit;
line-height:inherit
}

::before,::after{
text-decoration:inherit;
vertical-align:inherit
}

*,::before,::after{
border-style:solid;
border-width:0
}

*{
background-repeat:no-repeat;
margin:0;
padding:0
}

:root{
background-color:#fff;
-webkit-box-sizing:border-box;
box-sizing:border-box;
color:#000;
cursor:default;
font:66.66667% sans-serif
}

a{
text-decoration:none
}

audio,canvas,iframe,img,svg,video{
vertical-align:middle
}

button,input,select,textarea{
background-color:transparent
}

button,input,select,textarea{
color:inherit;
font-family:inherit;
font-style:inherit;
font-weight:inherit
}

button,[type="button"],[type="date"],[type="datetime"],[type="datetime-local"],[type="email"],[type="month"],[type="number"],[type="password"],[type="reset"],[type="search"],[type="submit"],[type="tel"],[type="text"],[type="time"],[type="url"],[type="week"],select,textarea{
min-height:1.5em
}

code,kbd,pre,samp{
font-family:monospace,monospace
}

nav ol,nav ul{
list-style:none
}

select{
-moz-appearance:none;
-webkit-appearance:none
}

select::-ms-expand{
display:none
}

select::-ms-value{
color:currentColor
}

table{
border-collapse:collapse;
border-spacing:0
}

textarea{
resize:vertical
}

::-moz-selection{
background-color:#b3d4fc;
color:#fff;
text-shadow:none
}

::selection{
background-color:#b3d4fc;
color:#fff;
text-shadow:none
}

[aria-busy="true"]{
cursor:progress
}

[aria-controls]{
cursor:pointer
}

[aria-disabled]{
cursor:default
}

[hidden][aria-hidden="false"]{
clip:rect(0 0 0 0);
display:inherit;
position:absolute
}

[hidden][aria-hidden="false"]:focus{
clip:auto
}

a,area,button,input,label,select,textarea,[tabindex]{
-ms-touch-action:manipulation;
touch-action:manipulation
}

html{
overflow-y:auto
}

:root{
cursor:auto
}

::-moz-selection{
color:currentColor
}

::selection{
color:currentColor
}

ul,ol{
list-style:none
}
img{
vertical-align:middle
}

input{
border:0;
outline:0;
font-family:inherit;
-webkit-appearance:none;
-moz-appearance:none
}

input[type='search']{
-webkit-appearance:none
}

label{
display:inline-block
}

textarea{
border-radius:0;
border:0;
outline:0;
-webkit-appearance:none
}

@font-face{
font-family:'Source Sans Pro';
font-style:normal;
font-weight:400;
src:local("Source Sans Pro"),local("SourceSansPro-Regular"),url("/jp/assets/fonts/SourceSansPro-Regular.ttf.woff2?36968975") format("woff2"),url("/jp/assets/fonts/SourceSansPro-Regular.otf.woff?36968975") format("woff"),url("/jp/assets/fonts/SourceSansPro-Regular.ttf?36968975") format("truetype")
}

@font-face{
font-family:'Source Sans Pro';
font-style:normal;
font-weight:600;
src:local("Source Sans Pro Semibold"),local("SourceSansPro-Semibold"),url("/jp/assets/fonts/SourceSansPro-Semibold.ttf.woff2?36968975") format("woff2"),url("/jp/assets/fonts/SourceSansPro-Semibold.otf.woff?36968975") format("woff"),url("/jp/assets/fonts/SourceSansPro-Semibold.ttf?36968975") format("truetype?36968975")
}

.mypage-tabs,.listing-tabs,.review-history-tabs{
border:0;
background:#eee;
font-size:0
}

.mypage-tabs li,.listing-tabs li,.review-history-tabs li{
display:inline-block;
text-align:center;
vertical-align:top
}

.mypage-tabs li.active,.listing-tabs li.active,.review-history-tabs li.active{
background:#fff
}

.mypage-tabs li.active a,.listing-tabs li.active a,.review-history-tabs li.active a{
border-top:2px solid #ea352d
}

.mypage-tabs a,.listing-tabs a,.review-history-tabs a{
position:relative;
display:block;
color:#333;
font-size:16px;
line-height:72px
}

.mypage-tabs a:hover,.listing-tabs a:hover,.review-history-tabs a:hover{
text-decoration:none
}

.mypage-tabs .mypage-nav__number,.listing-tabs .mypage-nav__number,.review-history-tabs .mypage-nav__number{
top:16px;
right:2px
}

@-webkit-keyframes fade-out{
0%{
visibility:visible;
opacity:1
}

80%{
opacity:1
}

100%{
opacity:0;
visibility:hidden
}


}

@keyframes fade-out{
0%{
visibility:visible;
opacity:1
}

80%{
opacity:1
}

100%{
opacity:0;
visibility:hidden
}


}

@-webkit-keyframes rubber-band{
0%{
-webkit-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1)
}

30%{
-webkit-transform:scale3d(1.25, 0.75, 1);
transform:scale3d(1.25, 0.75, 1)
}

40%{
-webkit-transform:scale3d(0.75, 1.25, 1);
transform:scale3d(0.75, 1.25, 1)
}

50%{
-webkit-transform:scale3d(1.15, 0.85, 1);
transform:scale3d(1.15, 0.85, 1)
}

65%{
-webkit-transform:scale3d(0.95, 1.05, 1);
transform:scale3d(0.95, 1.05, 1)
}

75%{
-webkit-transform:scale3d(1.05, 0.95, 1);
transform:scale3d(1.05, 0.95, 1)
}

100%{
-webkit-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1)
}


}

@keyframes rubber-band{
0%{
-webkit-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1)
}

30%{
-webkit-transform:scale3d(1.25, 0.75, 1);
transform:scale3d(1.25, 0.75, 1)
}

40%{
-webkit-transform:scale3d(0.75, 1.25, 1);
transform:scale3d(0.75, 1.25, 1)
}

50%{
-webkit-transform:scale3d(1.15, 0.85, 1);
transform:scale3d(1.15, 0.85, 1)
}

65%{
-webkit-transform:scale3d(0.95, 1.05, 1);
transform:scale3d(0.95, 1.05, 1)
}

75%{
-webkit-transform:scale3d(1.05, 0.95, 1);
transform:scale3d(1.05, 0.95, 1)
}

100%{
-webkit-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1)
}


}

@-webkit-keyframes fade-in-up{
0%{
opacity:0;
-webkit-transform:translate(0, 10px);
transform:translate(0, 10px)
}

100%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}


}

@keyframes fade-in-up{
0%{
opacity:0;
-webkit-transform:translate(0, 10px);
transform:translate(0, 10px)
}

100%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}


}

@-webkit-keyframes fade-out-up{
0%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}

100%{
opacity:0;
-webkit-transform:translate(0, 10px);
transform:translate(0, 10px)
}


}

@keyframes fade-out-up{
0%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}

100%{
opacity:0;
-webkit-transform:translate(0, 10px);
transform:translate(0, 10px)
}


}

@-webkit-keyframes fade-in-down{
0%{
opacity:0;
-webkit-transform:translate(0, -10px);
transform:translate(0, -10px)
}

100%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}


}

@keyframes fade-in-down{
0%{
opacity:0;
-webkit-transform:translate(0, -10px);
transform:translate(0, -10px)
}

100%{
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}


}

@-webkit-keyframes wobble{
16.65%{
-webkit-transform:translateX(8px);
transform:translateX(8px)
}

33.3%{
-webkit-transform:translateX(-6px);
transform:translateX(-6px)
}

49.95%{
-webkit-transform:translateX(4px);
transform:translateX(4px)
}

66.6%{
-webkit-transform:translateX(-2px);
transform:translateX(-2px)
}

83.25%{
-webkit-transform:translateX(1px);
transform:translateX(1px)
}

100%{
-webkit-transform:translateX(0);
transform:translateX(0)
}


}


html{
height:100%
}

body{
position:relative;
min-height:100%;
background:#f5f5f5;
font-family:'Source Sans Pro', Helvetica , Arial, 'a，，a?´a?・a??a?￣a?“', 'YuGothic', 'a?!a??a?aa?a', 'Meiryo', sans-serif;
font-size:14px;
color:#333;
line-height:1
}

a{
color:#0099e8;
text-decoration:none
}

a:hover{
text-decoration:underline;
opacity:.7
}

.clearfix:after{
content:'';
display:block;
clear:both
}

.white{
background-color:#fff
}

h2{
font-size:22px;
line-height:1.4
}

h3{
font-size:22px
}

.font-1{
font-size:16px;
font-weight:600;
color:#333
}

.font-2{
font-size:16px;
font-weight:400;
color:#333
}

.font-3{
font-size:14px;
font-weight:600;
color:#333
}

.font-4{
font-size:14px;
font-weight:400;
color:#333
}

.font-5{
font-size:20px;
font-weight:600;
color:#333
}

.font-6{
font-size:18px;
font-weight:400;
color:#333
}

.font-7{
font-size:16px;
font-weight:400;
color:#333
}

.text-center{
text-align:center
}

.l-left{
float:left
}

.l-right{
float:right
}

.input-default{
height:48px;
padding:10px 16px 8px;
border-radius:4px;
border:1px solid #ccc;
background:#fff;
line-height:1.5;
font-size:16px
}

.input-default.has-error{
border-color:#ea352d
}

.input-default:focus{
border-color:#0099e8
}

.notification{
position:absolute;
top:114px;
left:0;
right:0;
z-index:3000;
padding:24px 56px;
text-align:center;
line-height:1.5;
-webkit-animation:fade-out ease-out 4.5s;
animation:fade-out ease-out 4.5s;
-webkit-animation-fill-mode:forwards;
animation-fill-mode:forwards;
opacity:1;
-webkit-transition:all ease-out .3s;
transition:all ease-out .3s;
cursor:pointer
}

@media screen and (min-width: 768px){
.notification{
top:100px
}


}

.notification.hide{
visibility:hidden;
-webkit-animation:0;
animation:0;
opacity:0
}

.notification .icon-close{
position:absolute;
top:0;
right:0;
width:44px;
height:44px;
text-align:center;
line-height:44px;
color:inherit
}

@media screen and (min-width: 768px){
.notification .icon-close{
top:50%;
right:8px;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}


}

.icon-bell{
font-size:20px
}

.icon-check{
font-size:16px;
padding-top:2px
}

.search-bar{
margin:13px 10px 6px;
position:relative
}

.search-bar .sp-header__search{
background:#e6e6e6;
border-color:transparent;
border-radius:2px;
width:100%;
height:50px;
padding:0 50px 0 10px;
-webkit-transition:all ease-out .3s;
transition:all ease-out .3s
}

.search-bar .icon-search{
height:36px;
line-height:38px;
position:absolute;
right:7px;
text-align:center;
top:6px;
width:36px;
z-index:1
}

.single-header{
  text-align:center;

  @media screen and (min-width: 768px){
    height:128px
  }
  
  h1{
    display:inline-block;
    margin:11px 0 12px;

      @media screen and (min-width: 768px){
        margin:40px 0 0
      }

  }
  
  a{
    display:inline-block;
    width:120px;
    height:33px;
    margin:0 8px 0 0;
    line-height:33px;
  
    @media screen and (min-width: 768px){
      width:185px;
      height:49px;
      line-height:49px
    }

  }
    
  img{
    width:120px;
    height:33px;
  
    @media screen and (min-width: 768px){
      width:185px;
      height:49px
    }

  }
  
}

.global-footer{
padding:0 20px 10px 20px;
background:#212121;
color:#fff
}

@media screen {
  .global-footer nav{

    @media (min-width: 768px) {
      width:700px;
      margin:0 auto
    }

    @media (min-width: 1068px) {
      width:1020px
    }

  }

}

.global-footer li{
color:#333
}

.global-footer a{
color:#fff;
font-size:12px;
line-height:1.5em
}

.footer-head{
color:#fff;
font-size:16px;
font-weight:100
}

.footer-cell{
display:block;
float:left;
margin-top:18px;
padding-left:10px;
width:50%
}

.footer-cell:first-child{
padding:0 10px 0 0
}

.footer-cell a{
display:inline-block
}

.footer-cell li{
color:#fff
}

.footer-cell li:first-child{
margin-top:12px
}

.footer-cell.full-width{
width:100%;
margin:30px 0 0;
padding:0
}

@media screen and (min-width: 1068px){
.footer-cell{
width:23%;
padding:0 40px 0 0;
vertical-align:top
}

.footer-cell:first-child{
padding:0 20px 0 0;
width:20%
}

.footer-cell.full-width{
margin-top:18px;
padding:0 40px 0 0;
width:42%
}


}

.footer-cell li{
margin:14px 0 0
}

.footer-cell li:first-child{
margin:16px 0 0
}

.footer-cell a{
display:block;
opacity:.7
}

.inner-footer-cell{
float:left;
padding-left:10px;
vertical-align:top;
width:50%
}

.inner-footer-cell:first-of-type{
padding:0 10px 0 0
}

.footer-social-link{
display:inline-block
}

.footer-social-link a{
opacity:1
}

.footer-social-link i{
background:transparent;
margin:16px 18px 0 0
}

.icon-facebook{
font-size:26px
}

.icon-twitter{
font-size:24px
}

.footer-nav-lang{
margin-top:35px;
padding:0
}

@media screen and (min-width: 1068px){
.footer-nav-lang{
margin-top:18px
}


}

.footer-nav-lang li{
display:inline-block;
padding-right:30px
}

@media screen and (min-width: 1068px){
.footer-nav-lang li{
display:block
}


}

@media screen and (min-width: 768px){
.footer-nav-lang{
width:auto
}


}

.footer-bottom{
margin:50px auto 0
}

@media screen and (min-width: 768px){
.footer-bottom{
width:700px
}


}

@media screen and (min-width: 1068px){
.footer-bottom{
margin:30px auto 20px;
width:1020px
}


}

.footer-logo{
display:inline-block;
margin-right:10px;
width:auto
}

.footer-copyright{
display:inline-block;
margin:8px 0 0;
text-align:center;
vertical-align:sub
}

.footer-copyright small{
font-size:12px
}

@media screen and (min-width: 1068px){
.footer-copyright{
width:745px
}


}

.footer-address{
margin:24px 0 0;
line-height:1.2
}

.footer-sell-btn{
position:fixed;
bottom:-14px;
right:-14px;
z-index:1000;
width:80px;
height:80px;
border-radius:50%;
background:#ea352d;
color:#fff;
text-align:center
}

@media screen and (min-width: 768px){
.footer-sell-btn{
bottom:32px;
right:32px;
width:160px;
height:160px;
font-size:22px
}


}

.footer-sell-btn div{
margin:14px 0 0
}

@media screen and (min-width: 768px){
.footer-sell-btn div{
margin:32px 0 0
}


}

.footer-sell-btn:hover{
opacity:1;
text-decoration:none
}

.footer-sell-btn .icon-camera{
margin:4px 0 0;
font-size:24px
}

@media screen and (min-width: 768px){
.footer-sell-btn .icon-camera{
margin:8px 0 0;
font-size:54px
}


}

.single-footer{
position:absolute;
right:0;
bottom:0;
left:0;
z-index:1;
height:250px;
padding:40px 0;
text-align:center
}

@media screen and (min-width: 768px){
.single-footer{
width:456px;
height:220px;
margin:0 auto
}


}

.single-footer ul{
font-size:0
}

.single-footer li{
margin:16px 0 0;
font-size:12px
}

@media screen and (min-width: 768px){
.single-footer li{
display:inline-block;
margin:0 0 0 16px
}


}

.single-footer li:first-child{
margin:0
}

.single-footer a{
display:block;
color:#333
}

.single-footer p{
margin:8px 0 0
}

.single-footer small{
font-size:13px
}

.single-footer-logo{
width:80px;
height:65px;
margin:40px auto 0
}

@font-face{
font-family:'icon-font';
src:url("../fonts/icon-font.eot?36968975");
src:url("../fonts/icon-font.eot?36968975&#iefix") format("eot"),url("../fonts/icon-font.woff?36968975") format("woff"),url("../fonts/icon-font.ttf?36968975") format("truetype"),url("../fonts/icon-font.svg#icon-font?36968975") format("svg");
font-weight:400;
font-style:normal
}

i[class^='icon-'],i[class*='icon-']{
display:inline-block;
font-family:'icon-font';
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

.icon-arrow-bottom:before{
content:'\e001'
}

.icon-arrow-double-left:before{
content:'\e002'
}

.icon-arrow-double-right:before{
content:'\e003'
}

.icon-arrow-left:before{
content:'\e004'
}

.icon-arrow-right:before{
content:'\e005'
}

.icon-arrow-up:before{
content:'\e006'
}

.icon-bad:before{
content:'\e007'
}

.icon-balloon:before{
content:'\e008'
}

.icon-bell:before{
content:'\e009'
}

.icon-camera:before{
content:'\e00a'
}

.icon-car:before{
content:'\e00b'
}

.icon-card:before{
content:'\e00c'
}

.icon-cart:before{
content:'\e00d'
}

.icon-check:before{
content:'\e00e'
}

.icon-close:before{
content:'\e00f'
}

.icon-coin:before{
content:'\e010'
}

.icon-delete:before{
content:'\e011'
}

.icon-download:before{
content:'\e012'
}

.icon-facebook:before{
content:'\e013'
}

.icon-flag:before{
content:'\e014'
}

.icon-good:before{
content:'\e015'
}

.icon-history:before{
content:'\e016'
}

.icon-like-border:before{
content:'\e017'
}

.icon-like:before{
content:'\e018'
}

.icon-line:before{
content:'\e019'
}

.icon-list:before{
content:'\e01a'
}

.icon-lock:before{
content:'\e01b'
}

.icon-mail:before{
content:'\e01c'
}

.icon-message:before{
content:'\e01d'
}

.icon-minus:before{
content:'\e01e'
}

.icon-normal:before{
content:'\e01f'
}

.icon-phone:before{
content:'\e020'
}

.icon-pinterest:before{
content:'\e021'
}

.icon-plus:before{
content:'\e022'
}

.icon-search-detail:before{
content:'\e023'
}

.icon-search:before{
content:'\e024'
}

.icon-size:before{
content:'\e025'
}

.icon-sort:before{
content:'\e026'
}

.icon-star:before{
content:'\e027'
}

.icon-tag:before{
content:'\e028'
}

.icon-time:before{
content:'\e029'
}

.icon-track:before{
content:'\e02a'
}

.icon-twitter:before{
content:'\e02b'
}

.default-container.container-custom-banner{
padding:70px 0 0
}

@media screen and (min-width: 768px){
.default-container.container-custom-banner{
padding:100px 0 0
}


}

.custom-banner{
position:absolute;
top:0;
left:0;
right:0;
height:70px;
background:#f5f5f5;
z-index:1000;
-webkit-transition:ease-out .35s;
transition:ease-out .35s
}

@media screen and (min-width: 768px){
.custom-banner{
height:100px
}


}

.custom-banner .icon-close{
position:absolute;
top:50%;
left:3.125%;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.custom-banner-ios,.custom-banner-android{
display:none
}

.custom-banner-ios.show,.custom-banner-android.show{
display:block
}

.banner-pattern1{
padding:6px 1.875%
}

@media screen and (min-width: 768px){
.banner-pattern1{
padding:21px 3.125%
}


}

.banner-pattern1 figure{
float:left;
overflow:hidden;
margin:0 0 0 24px;
border-radius:16px;
border:1px solid #ccc
}

.banner-pattern1>div{
float:right;
text-align:right
}

.banner-pattern1 a.pattern1-install,.banner-pattern1 a.pattern1-open{
display:inline-block;
margin:12px 0 0;
padding:7px 10px;
border-radius:4px;
font-size:11px
}

.banner-pattern1 a.pattern1-install:last-child,.banner-pattern1 a.pattern1-open:last-child{
margin:0 0 0 8px
}

.banner-pattern1 figcaption{
display:inline-block;
vertical-align:middle
}

.banner-pattern1 .user-num{
margin:0 0 0 4px;
vertical-align:middle
}

.banner-rating img{
margin:0 0 0 2px
}

.pattern1-install{
background:#0099e8;
border:1px solid #0099e8;
color:#fff;
-webkit-box-shadow:0 1px 0 0 #007ebf;
box-shadow:0 1px 0 0 #007ebf
}

.pattern1-open{
background:#fff;
border:1px solid #ccc;
color:#333
}

.app-banner{
background:url("/jp/assets/img/common/jp/top/download_bg_pc.jpg?36968975");
background-position:center;
background-size:cover
}

.app-banner-pc{
overflow:hidden;
position:relative;
display:none;
width:750px;
height:260px;
margin:0 auto;
color:#fff
}

@media screen and (min-width: 768px){
.app-banner-pc{
display:block
}


}

.app-banner-pc h2{
margin:0;
font-size:16px
}

@media screen and (min-width: 1068px){
.app-banner-pc h2{
font-size:24px
}


}

.app-banner-pc p{
margin:10px 0 0;
font-size:24px
}

@media screen and (min-width: 1068px){
.app-banner-pc p{
font-size:35px
}


}

.app-banner-pc h2,.app-banner-pc p{
text-shadow:0 0 5px rgba(0,0,0,0.4)
}

.app-banner-pc>figure{
position:absolute;
top:0;
right:0;
bottom:0;
width:300px;
height:100%
}

.app-banner-pc>figure img{
width:100%
}

.app-banner-pc-inner{
position:absolute;
top:50%;
left:16px;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

@media screen and (min-width: 1068px){
.app-banner-pc-inner{
left:0
}


}

.app-banner-icon{
margin:20px 0 0
}

.app-banner-icon figure{
float:left
}

.app-banner-icon ul{
float:left;
margin:0 0 0 24px;
line-height:68px
}

.app-banner-icon li{
float:left
}

.app-banner-icon li:last-child{
margin:0 0 0 16px
}

.app-banner-icon a{
display:block;
line-height:68px
}

.app-banner-icon img{
vertical-align:middle
}

.app-banner-mobile{
text-align:center
}

.app-banner-mobile a{
background:rgba(0,0,0,0.2);
color:#fff;
display:block;
padding:15px 0
}

.app-banner-mobile .app-banner-icon{
display:inline-block;
margin:0 20px 0 0;
vertical-align:top
}

.app-banner-mobile .app-banner-mobile-text{
display:inline-block;
padding-top:2px;
text-align:left
}

.app-banner-mobile .app-banner-mobile-text span{
display:block;
font-size:1.4em;
padding-top:10px
}

.items-box-head{
font-size:22px;
margin:24px 4% 8px;
line-height:1.4
}

@media screen and (min-width: 768px){
.items-box-head{
margin:24px 0 8px
}


}

.items-box-content{
width:92%;
margin:0 auto
}

@media screen and (min-width: 768px){
.items-box-content{
width:auto
}


}

.items-box{
position:relative;
float:left;
width:48%;
margin:0 0 4% 4%;
background:#fff
}

.items-box:nth-child(odd){
margin:0 0 4%
}

@media screen and (min-width: 768px){
.items-box{
width:124px;
margin:0 0 20px 20px
}

.items-box:nth-child(odd){
margin:0 0 20px 20px
}

.items-box:nth-child(5n+1){
margin-left:0
}

.items-box:nth-child(5n){
margin-right:0
}


}

@media screen and (min-width: 1068px){
.items-box{
width:188px
}


}

.items-box a{
display:block;
color:#333
}

.items-box a:hover{
opacity:1;
text-decoration:none
}

.items-box-photo{
overflow:hidden;
position:relative;
width:100%;
height:0;
padding:0 0 100%
}

@media screen and (min-width: 768px){
.items-box-photo{
width:220px;
height:220px
}


}

.items-box-photo img{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:1;
width:100%
}

.items-box-photo img.is-higher-height{
top:50%;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.items-box-photo img.is-higher-width{
width:auto;
left:50%;
right:auto;
height:100%;
-webkit-transform:translate(-50%, 0);
transform:translate(-50%, 0)
}

.items-box-body{
padding:16px;
height:110px
}

.items-box-name{
overflow:hidden;
position:relative;
font-weight:400;
height:3em;
line-height:1.5;
word-break:break-word;
white-space:normal
}

.items-box-name:after{
display:block;
content:'';
position:absolute;
bottom:0;
right:0;
width:50%;
height:1.5em;
background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
background:linear-gradient(to right, rgba(255,255,255,0), #fff 72%)
}

.items-box-num{
margin:8px 0 0
}

.items-box-price{
float:left
}

@media screen and (min-width: 768px){
.items-box-price{
font-size:16px
}


}

@media screen and (min-width: 1068px){
.items-box-price{
font-size:20px
}


}

.item-box-tax{
font-size:10px;
clear:both
}

.items-box-likes{
float:right
}

.items-box-likes i{
margin:0 4px 0 0;
vertical-align:middle
}

.items-box-likes span{
display:inline-block;
margin:1px 0 0;
vertical-align:middle
}



.overlay{
display:none;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
z-index:2999;
background:rgba(0,0,0,0.64);
-webkit-transition:all ease-out .3s;
transition:all ease-out .3s;
opacity:0
}

.owl-carousel{
position:relative
}

.owl-carousel .owl-stage{
position:relative
}

.owl-carousel .owl-stage-outer{
position:relative;
overflow:hidden
}

.owl-carousel .owl-item{
min-height:1px;
float:left;
-webkit-backface-visibility:hidden;
-webkit-tap-highlight-color:transparent;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}

.owl-carousel .owl-item-inner{
position:relative;
width:100%;
height:0;
padding:0 0 100%
}

.owl-carousel .owl-item-inner.is-higher-height{
min-height:300px
}

.owl-carousel .owl-item-inner.is-higher-height img{
position:absolute;
top:0;
left:0;
right:0;
width:auto;
height:100%;
margin:auto
}

.owl-carousel .owl-item-inner.is-higher-width{
min-height:300px
}

.owl-carousel .owl-item-inner.is-higher-width img{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto
}

.owl-carousel img{
width:100%;
vertical-align:bottom
}

.owl-carousel .owl-lazy{
opacity:0;
-webkit-transition:opacity 400ms ease;
transition:opacity 400ms ease
}

.owl-carousel .owl-nav{
display:none
}

.lazyload,.lazyloading{
opacity:0
}

.lazyloaded{
opacity:1;
-webkit-transition:opacity .3s;
transition:opacity .3s
}

.pc-top-store>a:first-child{
margin:0
}

.top-carousel{
height:200px;
overflow:hidden;
position:relative
}

@media screen and (min-width: 768px){
.top-carousel{
height:290px
}


}

@media screen and (min-width: 1068px){
.top-carousel{
height:390px
}


}

.top-carousel .owl-stage-outer,.top-carousel .owl-stage,.top-carousel .owl-item,.top-carousel .owl-item>a{
height:100%
}

.top-carousel .owl-nav{
color:transparent;
display:block
}

.top-carousel .owl-next,.top-carousel .owl-prev{
cursor:pointer;
height:46px;
width:31px;
position:absolute;
top:50%;
-webkit-transform:translateY(-23px);
transform:translateY(-23px)
}

.top-carousel .owl-next{
background-image:url("/jp/assets/img/common/jp/top/carousel-next.png");
right:10px
}

@media screen and (min-width: 768px){
.top-carousel .owl-next{
right:60px
}


}

.top-carousel .owl-prev{
background-image:url("/jp/assets/img/common/jp/top/carousel-prev.png");
left:10px
}

@media screen and (min-width: 768px){
.top-carousel .owl-prev{
left:60px
}


}

.top-carousel .owl-dots{
display:none;
margin:-30px;
text-align:center
}

.top-carousel .owl-dots .owl-dot{
background:#fff;
border-radius:50%;
height:12px;
margin-right:15px;
width:12px
}

.top-carousel .owl-dots .owl-dot:last-child{
margin-right:0
}

.top-carousel .owl-dots .owl-dot.active{
background:rgba(0,0,0,0.5)
}

@media screen and (min-width: 768px){
.top-carousel .owl-dots{
display:block
}


}

.top-main-visual{
background:url("/jp/assets/img/common/jp/top/main_bg_pc.jpg");
background-size:cover;
display:none;
height:290px
}

@media screen and (min-width: 768px){
.top-main-visual{
display:block
}


}

@media screen and (min-width: 1068px){
.top-main-visual{
height:390px
}


}

.top-main-visual>div{
position:relative;
max-width:730px;
height:100%;
margin:0 auto
}

@media screen and (min-width: 1068px){
.top-main-visual>div{
max-width:860px
}


}

.top-main-visual>div>img{
position:absolute;
top:0;
right:0;
height:100%;
width:auto
}

.top-main-visual h2{
font-size:40px;
line-height:1.2
}

@media screen and (min-width: 1068px){
.top-main-visual h2{
font-size:60px
}


}

.top-main-visual p{
margin:16px 0 0;
font-size:16px;
line-height:1.77778
}

@media screen and (min-width: 1068px){
.top-main-visual p{
font-size:18px
}


}

.top-main-visual-content{
position:absolute;
top:50%;
left:0;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.top-banner{
display:block;
background-size:cover;
background-position:center;
height:100%
}

.top-banner:hover{
opacity:1
}

@media screen and (min-width: 1068px){
.top-banner{
background-size:auto
}


}

.top-banner.banner-natsukashi{
background-image:url("/jp/assets/img/common/jp/top/banner-natsukashi.jpg")
}

@media screen and (min-width: 1440px){
.top-banner.banner-natsukashi{
background-size:contain;
background-repeat:repeat-x
}


}

.top-banner.banner-bokurano-heisei{
background-image:url("/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg")
}

@media screen and (min-width: 1440px){
.top-banner.banner-bokurano-heisei{
background-size:contain;
background-repeat:repeat-x
}


}

.top-banner.banner-new-life{
background-image:url("/jp/assets/img/common/jp/top/banner-new-life.jpg")
}

@media screen and (min-width: 1440px){
.top-banner.banner-new-life{
background-size:contain;
background-repeat:repeat-x
}


}

#sp-top-banner{
background:url("/jp/assets/img/common/jp/top/main_bg_pc.jpg");
background-size:cover;
color:#333;
height:157px;
padding:20px 15px;
position:relative
}

@media screen and (min-width: 375px){
#sp-top-banner{
padding:20px 50px
}


}

#sp-top-banner h2{
font-size:1.8em;
position:relative;
z-index:1
}

#sp-top-banner img{
height:100%;
position:absolute;
top:0;
right:0;
width:auto
}

@media screen and (min-width: 375px){
#sp-top-banner img{
right:30px
}


}

#sp-top-dl{
width:240px;
margin:5px auto
}

@media screen and (min-width: 480px){
#sp-top-dl{
width:468px;
margin:20px auto
}


}

#sp-top-dl a{
float:left;
display:block;
width:110px;
height:32px;
margin:0 20px 0 0
}

@media screen and (min-width: 480px){
#sp-top-dl a{
width:230px;
height:68px
}


}

#sp-top-dl a:last-child{
margin:0
}

#sp-top-dl a img{
height:100%
}

.pickup-container{
padding:20px 0 0 0;
background:#f5f5f5
}

@media screen and (min-width: 768px){
.pickup-container{
padding:40px 0
}


}

.pickup-container h2{
font-size:22px;
text-align:center
}

@media screen and (min-width: 768px){
.pickup-container h2{
font-size:28px
}


}

.pickup-container .items-box-container>h3{
font-size:18px;
margin:26px 11px
}

@media screen and (min-width: 768px){
.pickup-container .items-box-container>h3{
font-size:22px
}


}

@media screen and (min-width: 768px){
.pickup-container .items-box-container{
width:700px;
margin:0 auto
}

.pickup-container .items-box-container .items-box{
margin:0 0 0 20px;
width:213px
}

.pickup-container .items-box-container .items-box figure{
width:213px
}


}

@media screen and (min-width: 1068px){
.pickup-container .items-box-container{
width:940px
}


}

.pickup-container .items-box{
margin:0 0 20px 20px;
width:calc(50% - 30px)
}

.pickup-container .items-box figure{
width:100%
}

@media screen and (min-width: 768px){
.pickup-container .items-box:last-child{
display:none
}


}

@media screen and (min-width: 1068px){
.pickup-container .items-box:last-child{
display:block;
margin:0 0 0 20px
}


}

.pickup-container .view-all{
padding:0 0 30px;
text-align:right;
width:91%
}

@media screen and (min-width: 768px){
.pickup-container .view-all{
padding:20px 0 30px;
width:99.5%
}


}

.pickup-head{
font-size:28px
}


.icon{
display:inline-block
}



.mypage-user-icon{
position:relative;
height:155px;
padding:20px;
background:url("/jp/assets/img/mypage/user-bg.jpg?36968975");
background-repeat:no-repeat;
background-size:cover;
text-align:center
}

@media screen and (min-width: 768px){
.mypage-user-icon{
height:200px
}


}

.mypage-user-icon>a{
display:block;
position:absolute;
top:50%;
left:0;
right:0;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%);
color:#333
}

.mypage-user-icon figure{
overflow:hidden;
width:60px;
height:60px;
margin:0 auto;
border-radius:50%
}

.mypage-user-icon h2{
margin:8px 0 0;
font-size:14px
}

.mypage-user-icon+.mypage-tab-container{
margin:0
}

.mypage-user-icon .user-official-badge{
margin:8px 0 0
}

.mypage-number{
margin:8px 0 0;
font-size:0
}

.mypage-number div{
display:inline-block;
font-size:14px
}

.mypage-number div+div{
margin:0 0 0 16px
}

.mypage-number span{
margin:0 0 0 8px;
font-size:16px
}

.mypage-tab-container{
margin:40px 0 0;
background:#fff
}

.mypage-tab-container:nth-of-type(1){
margin:0
}

.mypage-tab-container+.pager{
margin:40px 0 0
}

.mypage-tab-container-notification-todo{
margin:0;
background:#fff
}

.mypage-tab-head{
padding:0 4%;
background:#fafafa;
font-size:16px;
line-height:72px
}

@media screen and (min-width: 768px){
.mypage-tab-head{
padding:0 16px
}


}

.mypage-tabs li{
width:50%
}

.mypage-item-list li{
position:relative;
border-bottom:1px solid #eee
}

.mypage-item-list li:last-child{
border:0
}

.mypage-item-list li:first-child{
border-bottom:1px solid #eee
}

.mypage-item-list li.mypage-item-not-found{
border:0
}

.mypage-item-list a:hover{
background:#fafafa;
opacity:1;
text-decoration:none
}

.mypage-item-list img{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:1;
width:100%
}

.mypage-item-list img.is-higher-height{
top:50%;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.mypage-item-list img.is-higher-width{
width:auto;
left:50%;
right:auto;
height:100%;
-webkit-transform:translate(-50%, 0);
transform:translate(-50%, 0)
}

.mypage-item-link{
display:block;
min-height:80px;
padding:16px;
color:#333
}

.mypage-item-link figure{
position:relative;
overflow:hidden;
float:left;
width:48px;
height:48px
}

.mypage-item-link time{
display:inline-block;
color:#888
}

.mypage-item-link time span{
vertical-align:middle
}

.mypage-item-link .icon-time{
margin:0 8px 0 0
}

.mypage-item-link .icon-arrow-right{
position:absolute;
top:50%;
right:16px;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.mypage-item-status{
display:inline-block;
margin:8px 0 0 0;
padding:5px 6px;
border-radius:2px;
font-size:12px;
color:#fff
}

.mypage-item-status.action-required{
background:#ea352d
}

.mypage-item-status.awaiting{
background:#0099e8
}

.mypage-item-status.done{
background:#888
}

.mypage-item-body{
margin:0 40px 0 68px
}

.mypage-item-body .clearfix{
margin:8px 0 0
}

.mypage-item-body .l-left{
width:50%
}

@media screen and (min-width: 768px){
.mypage-item-body .l-left{
width:auto
}


}

.mypage-item-body.show-stock-item{
margin-right:100px
}

.mypage-item-text{
overflow:hidden;
display:block;
display:-webkit-box;
max-height:4.4em;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
text-overflow:ellipsis;
line-height:1.5
}

.mypage-item-not-found{
padding:160px 0 60px;
background:url("/jp/assets/img/common/common/logo-gray-icon.svg?36968975");
background-repeat:no-repeat;
background-position:center 40px;
background-size:78px 85px;
text-align:center;
font-size:16px;
color:#ccc
}

.listing-item-count{
vertical-align:2px;
margin:0 6px 0 0
}

.listing-item-count i{
vertical-align:middle;
color:#ccc
}

.listing-item-count span{
vertical-align:middle;
margin:0 0 0 2px;
font-size:16px;
color:#888
}

.stock-item{
float:right;
text-align:center;
width:80px;
margin-right:20px
}

.stock-item .stock-item-count{
height:3rem;
font-size:2.6rem;
font-weight:600
}

.mypage-go-list{
padding:16px
}

.mypage-go-list a{
display:block;
height:56px;
margin:0 auto;
background:#eee;
color:#333;
line-height:56px;
text-align:center
}

.mypage-go-list span,.mypage-go-list .icon-arrow-right{
vertical-align:middle
}

.mypage-go-list .icon-arrow-right{
margin:0 0 0 8px
}

.mypage-nav__head{
margin:40px 4% 0;
font-size:16px
}

@media screen and (min-width: 768px){
.mypage-nav__head{
margin:40px 0 0
}


}

.mypage-nav__head+.mypage-nav__list{
margin:8px 0 0
}

.mypage-nav__list li{
border-top:1px solid #eee
}

.mypage-nav__list li:first-child{
border:0
}

.mypage-nav__list a:hover{
background:#fafafa;
text-decoration:none;
opacity:1
}

.mypage-nav__list a:hover .icon-arrow-right{
-webkit-transform:translate(4px, -50%);
transform:translate(4px, -50%);
color:#333
}

.mypage-nav__list-item{
position:relative;
display:block;
min-height:48px;
padding:16px;
background:#fff;
color:#333
}

.mypage-nav__list-item.active{
background:#eee;
font-weight:600
}

.mypage-nav__list-item.active .icon-arrow-right{
color:#333
}

.mypage-nav__list-item.active:hover{
background:#eee
}

.mypage-nav__list-item .icon-arrow-right{
position:absolute;
top:50%;
right:16px;
color:#ccc;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%);
-webkit-transition:all ease-out .2s;
transition:all ease-out .2s
}

.mypage-nav__number{
position:absolute;
top:50%;
right:32px;
width:24px;
height:24px;
border-radius:50%;
background:#ea352d;
text-align:center;
line-height:24px;
color:#fff;
-webkit-transform:translate(0, -50%);
transform:translate(0, -50%)
}

.mypage-sold .item-sold-out-badge:after{
border-width:40px 40px 0 0
}

.mypage-sold .item-sold-out-badge>div{
top:8px;
font-size:11px;
letter-spacing:1px
}

.mypage-history{
margin:16px 4% 0;
height:44px
}

@media screen and (min-width: 768px){
.mypage-history{
margin:16px 0 0
}


}

@media screen and (min-width: 1068px){
.mypage-history{
margin:40px 0 0
}


}

.listing-item-change-box{
margin:24px 0 24px 0;
background:#fff;
padding:8px 16px 8px 16px
}

.listing-item-change-box .btn-default{
margin:16px 0 16px 0
}

.listing-item-change-box p{
font-size:16px
}

.mypage-bank-account .address-info,.mypage-identification .address-info{
margin:0 0 0 4px
}

.mypage-bank-account .address-info address,.mypage-identification .address-info address{
font-size:16px;
margin:8px 0 0
}

.mypage-bank-account .address-info address p,.mypage-identification .address-info address p{
margin:0
}

.mypage-bank-account button[type="submit"],.mypage-identification button[type="submit"]{
margin:40px 0 0 0
}

.mypage-deferred-payments .month-block{
padding:0 16px
}

.mypage-deferred-payments .month-block .head{
padding-top:40px;
font-weight:bold;
font-size:16px
}

.mypage-deferred-payments .month-block .body{
padding:10px 0 16px;
font-size:14px;
line-height:1.3em
}

.mypage-deferred-payments .mypage-nav__list{
border-bottom:1px solid #eee
}

.mypage-deferred-payments .payment-method{
padding:40px 0 32px
}

.mypage-deferred-payments .payment-method .head{
padding:0 16px;
font-size:16px;
font-weight:bold
}

.mypage-deferred-payments .payment-method .body{
margin:16px 0 32px;
padding:0 16px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-negative:0;
flex-shrink:0
}

.mypage-deferred-payments .payment-method .body li{
margin-top:16px;
width:50%
}

@media screen and (min-width: 768px){
.mypage-deferred-payments .payment-method .body li{
width:33%
}


}

.mypage-deferred-payments .payment-method .body li label{
line-height:20px
}

.mypage-deferred-payments .payment-method .payment-cvs{
margin:16px 24px;
padding:16px;
background:#fff6de
}

.mypage-deferred-payments .payment-method .payment-cvs .destination{
margin-bottom:8px;
font-size:14px;
font-weight:bold
}

.mypage-deferred-payments .payment-method .payment-cvs .instructions{
font-size:12px;
line-height:1.3em
}

.mypage-deferred-payments .payment-method .payment-cvs .seven-eleven{
padding-top:5px;
font-size:12px
}

.mypage-deferred-payments .payment-method .payment-cvs .seven-eleven a{
color:'#d3463d'
}

.mypage-deferred-payments .payment-method .btn-default{
margin:0 auto;
width:45%
}

.mypage-deferred-payments .no-item{
padding:40px 24px 0
}

.search-nav{
display:table;
width:100%;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc
}

@media screen and (min-width: 768px){
.search-nav{
border:1px solid #ccc;
background:#fff
}


}

.search-nav>div{
display:table-cell;
width:50%;
font-size:12px;
height:72px;
border-left:1px solid #ccc;
vertical-align:middle;
text-align:center
}

.search-nav>div:active{
-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.16) inset;
box-shadow:0 0 4px 0 rgba(0,0,0,0.16) inset
}

.search-nav>div:first-child{
border-left:0
}

.search-nav>div>div{
margin:8px 0 0
}

.search-nav i{
color:#aaa
}

.search-nav .icon-history{
font-size:18px
}

.search-nav .icon-sort{
font-size:14px
}

.search-nav .icon-search-detail{
font-size:15px
}



[data-toggle='open-app']{
display:none
}

[data-client='visible']{
display:none
}

.visible-pc{
display:none
}

@media screen and (min-width: 768px){
.visible-pc{
display:block
}


}

.visible-pc-only{
display:none
}

@media screen and (min-width: 1068px){
.visible-pc-only{
display:block
}


}

@media screen and (min-width: 1068px){
.visible-tablet{
display:none
}


}

@media screen and (min-width: 768px){
.visible-sp{
display:none
}


}

@media screen and (min-width: 1068px){
.hidden-large{
display:none
}


}

.visible-large{
display:none
}

@media screen and (min-width: 1068px){
.visible-large{
display:block
}


}
