.icon-like{
  color:#ea352d
  }
  
  .icon-like-border{
  color:#ccc
  }
  
  .icon-facebook{
  color:#fff;
  background:#385185;
  font-size:18px
  }
  
  .icon-line{
  color:#fff;
  background:#00c137;
  font-size:22px
  }
  
  .icon-pinterest{
  color:#fff;
  background:#aa262a;
  font-size:18px
  }
  
  .icon-twitter{
  color:#fff;
  background:#5d9dc9;
  font-size:16px
  }
  
  .icon-time{
  font-size:16px;
  vertical-align:middle
  }
  
  .icon-good{
  color:#ef5185
  }
  
  .icon-normal{
  color:#fba933
  }
  
  .icon-bad{
  color:#6ab5d8
  }
  
  .icon-balloon{
  font-size:15px
  }