@media screen and (min-width: 1068px){
    @include arrow;
    @include input--label;
    .ccreate__container{
        width: 1020px;
        height: 1252px;
        padding-bottom: 40px;
        margin: 24px auto 0 auto;
        display: flex;
        align-items: stretch;
        &__top{
            height: 666px;
            width:700px;
            background-color: white;
            order: 1;
            h2{
                font-weight: bold;
                font-size: 25px;
                height: 33px;
                width: 652px;
                padding: 8px 24px;
                text-align: center;
                border-bottom: 1px solid $subBackColor;
            }
            &__form{
                width: 572px;
                height: 487px;
                padding: 64px;
                border-top: 1px;
                &__content{
                    width: 320px;
                    height: 487px;
                    margin: 0 auto;
                    box-sizing: border-box;
                    &--group{
                        &--brand{
                            width: 100%;
                            height: 20px;
                            padding-top: 8px;
                            display: flex;
                            &--list{
                                margin-left: 8px;
                                #visa{
                                    width: 49px;
                                    height: 20px;
                                }
                                #master{
                                    width: 34px;
                                    height: 20px;
                                }
                                #saison{
                                    width: 30px;
                                    height: 20px;
                                }
                                #jcb{
                                    width: 32px;
                                    height: 20px;
                                }
                                #express{
                                    width: 21px;
                                    height: 20px;
                                }
                                #diners{
                                    width: 32px;
                                    height: 20px;
                                }
                                #discover{
                                    width: 32px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                    &--expire{
                        height: 126px;
                        margin-top: 40px;
                        position: relative;
                        &--wrap{
                            width: 112px;
                            height: 48px;
                            margin-top: 8px;
                            position: relative;
                            .select-default{
                                width: 100%;
                                height: 46px;
                                padding: 0 16px;
                                border: 1px solid $subBackColor;
                                border-radius: 0.2em;
                                background: transparent;
                                -webkit-appearance: none;
                                outline: none;
                            }
                            i{
                                opacity: 0.8;
                                position: absolute;
                                top: 30%;
                                right: 10%;
                            }
                        }
                        .select-month{
                            margin: 0 8px;
                            display: block;
                            position: absolute;
                            top: 32%;
                            left: 35%
                        }
                        .select-yeah{
                            margin: 0 8px;
                            display: block;
                            position: absolute;
                            top: 78%;
                            left: 35%
                        }
                    }
                    &--code{
                        margin-top: 40px;
                    }
                    &--sequ{
                        width: 100%;
                        height: 15px;
                        margin-top: 8px;
                        &--text{
                            width: 100%;
                            text-align: right;
                            i{
                                color: royalblue;
                                font-size: 14px;
                            }
                            .sequ_box{
                                display: inline-block;
                                color: royalblue;
                                font-size: 14px;
                            }
                            .arrwo_box{
                                &--content{
                                text-align: center;
                                    a{
                                        font-size: 14px;
                                    }
                                    img{
                                        width: 240px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-default{
                    width: 100%;
                    height: 48px;
                    border: 1px solid;
                    margin-top: 16px;
                    background-color: crimson;
                    font-size: 14px;
                    color: white;
                    outline: none;
                    transition: 500ms;
                    margin-top: 40px;
                }
                .btn-default:active{
                    background-color: gray;
                }
            }
        }
        &__navi{
            margin-right: 40px;
            width:280px;
            height: 1252px;
            order: -1;
            &--list{
                height: 685px;
                h3{
                    font-weight: bold;
                    margin-top: 40px;
                    margin-bottom: 8px;
                }
                &--item{
                    height: 48px;
                    background-color:  white;
                    border-top: 1px solid $subBackColor;
                    &--a{
                        width:248px;
                        height: 16px;
                        padding: 16px;
                        font-size: 14px;
                        line-height: 16px;
                        .fa-chevron-right{
                            float: right;
                            font-size: 17px;
                            opacity: 0.3;
                            position: relative;
                            right: 0px;
                        }
                    }
                }
                .active{
                    height: 48px;
                    background-color: $subBackColor;
                }
                .toplist{
                    border-top: 0;
                }
            }
        }
    }
}
