.main-container
  %section.top-banner__container
    = link_to "", "https://mercari-special.jp/~natsukashi/", class: 'top-banner__banner-natsukashi'
  %section.pickup__container
    %h2.pickup__head 商品一覧
    %section.items-box__container
      %h3
        = link_to "", "/jp/category/1/"
      .items-box__content
        = render @products