@mixin card_images{
  #visa{
    width: 49px;
    height: 20px;
  }
  #master{
    width: 34px;
    height: 20px;
  }
  #saison{
    width: 30px;
    height: 20px;
  }
  #jcb{
    width: 32px;
    height: 20px;
  }
  #express{
    width: 21px;
    height: 20px;
  }
  #diners{
    width: 32px;
    height: 20px;
  }
  #discover{
    width: 32px;
    height: 20px;
  }
}
